# Maven
target

# Eclipse
.settings
.classpath
.project


CSVDataset\.csv

generated
outputsyns\.csv
.factorypath
.vscode/settings.json

*.csv

\.idea/

*.jar
.DS_Store

nbproject/project\.properties
